<ion-view view-title="Order Summary">
  <ion-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/NgFd1CBf6TQ" frameborder="0" allowfullscreen></iframe>
    <br>
    <div class="row">
      <div class="col">
        <p>      Mehere is a location based product ordering App. Order anything from groceries to electronics from your local shops in a moment, without moving out of your house. The App helps in getting delivery instantly as you get it from a nearby store.</p>
        <p> Just Choose a category, Select a store nearby & start ordering.</p>
        <p> Meher - Happy Ordering.</p>
      </div>
    </div>
  </ion-content>
</ion-view>