<ion-view view-title="Login">

    <ion-content>
        <div>
            <div class="row" ng-if="!otpRequested">
                <div class="col text-center">
                    <h3>Login</h3>
                </div>
            </div>
            <div class="row" ng-if="otpRequested">
                <div class="col text-center">
                    <h3>Verify Code</h3>
                    <p>Enter 4 digit code SMS sent on {{loginData.mobile}}</p>
                </div>
            </div>

            <div ng-if="!otpRequested">
                <form ng-submit="sendOPT()">
                    <div class="list">

                        <label class="item item-input">
                            <span class="input-label">Mobile Number +91</span>
                            <input type="tel"  placeholder="Enter 10 digit mobile number" ng-model="loginData.mobile">
                        </label>

                        <label class="item item-input item-select">
                            <span class="input-label">Store Category</span>
                            <select ng-model="loginData.categoty">
                                <option value="shop-groceries" selected>Grocery</option>
                                <option value="shop-fruits">Fruits</option>
                                <option value="shop-electronics">Electronics</option>
                                <option value="shop-medicals">Pharmacy</option>
                            </select>
                        </label>

                        <label class="item">
                            <button class="button button-block button-balanced" type="submit">Login</button>
                        </label>
                    </div>
                </form>
            </div>

            <div ng-if="otpRequested">

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Verify OTP</span>
                        <input type="tel" placeholder="Enter 4 digit OTP" ng-model="loginData.opt">
                    </label>
                </div>

                <div class="row">
                    <div class="col">
                        <button ng-click="backToLogin()"  class="button button-block icon-left ion-chevron-left button-assertive" >Edit Mobile</button>
                    </div>
                    <div class="col">
                        <button id="verify" ng-click="verifiedOtp()" class="button button-block icon-right ion-checkmark-round button-balanced">Verify</button>
                    </div>
                </div>
                </hr>
            </div>

        </div>
    </ion-content>
</ion-view>