<ion-view view-title="Order Summary">
    <ion-content>
        <div class="list" style="margin-bottom:0px">
            <div class="item item-button-right">
                <h3><b>{{currentOrder.customer.mobile}}</b></h3>
                <button class="button button-balanced" ng-click="CallTel({{currentOrder.customer.mobile}})">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
          <span>
              <i class="ion-ios-home" style="font-size: 22px;color: #C6C6C6;"></i>
            {{currentOrder.customer.addLine1}}
            {{currentOrder.customer.addLine2}}
            </span>
                </p>
                <!--<div style="color: #979797;">-->
                <!--<span>-->
                <!--<i class="ion-android-bicycle" style="font-size: 22px;"></i>-->
                <!--{{StoreDistance}} KM Away-->
                <!--</span>-->
                <!--<span style="float: right;" >-->
                <!--Delivers in:-->
                <!--<i class="ion-clock" style="font-size: 20px;"></i>-->
                <!--30 Mins.-->
                <!--</span>-->
                <!--</div>-->
            </div>
        </div>

        <!--</br></br>-->
        <!--<div class="text-center">-->
        <!--<h5><span>Type products Below </span><span ng-if="storeCategory.type=='general'">or Select From Menu</span></h5>-->
        <!--</div>-->
        <!--<div id="customize-order">-->
        <!--<div class="text-center" style="margin-bottom:0px;margin-top: 2px;font-weight: bold;">-->
        <!--<span>Type Products Below </span>&lt;!&ndash; ngIf: storeCategory.type=='general' &ndash;&gt;<span ng-if="storeCategory.type=='general'" class="">or Select From Menu</span>&lt;!&ndash; end ngIf: storeCategory.type=='general' &ndash;&gt;-->
        <!--</div>-->
        <!--<div class="bar bar-header item-input-inset addcustom" style="margin-top: -3px;">-->
        <!--<div class="col-50">-->
        <!--<label class="item-input-wrapper reverse-wrapper">-->
        <!--<i class="icon ion-compose"></i>-->
        <!--<input class="google-place-search ng-pristine ng-valid ng-touched" type="text" ng-model="customProduct.name" placeholder="Item Name">-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="col">-->
        <!--<label class="item-input-wrapper reverse-wrapper">-->
        <!--<i class="icon ion-funnel"></i>-->
        <!--<input class="google-place-search ng-pristine ng-valid ng-touched" type="text" ng-model="customProduct.customQuantity" placeholder="Qty(1 KG)">-->
        <!--</label>-->
        <!--</div>-->
        <!--<button class="button button-positive" ng-click="addcustomProduct(customProduct)">Add</button>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div id="custom-order" class="row list">-->
        <!--<div class="col col-50">-->
        <!--<label class="item item-input">-->
        <!--<input type="text" ng-model="customProduct.name" placeholder="Item Name">-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="col col-30">-->
        <!--<label class="item item-input">-->
        <!--<input type="text" class="cust-qty" ng-model="customProduct.customQuantity" placeholder="Qty(1 KG)">-->
        <!--</label>-->
        <!--</div>-->
        <!--<div class="col col-20 text-right">-->
        <!--<button class="button button-positive" ng-click="addcustomProduct(customProduct)">Add-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row item item-divider">
            <span class="col">Item List ({{currentOrder.order.orderitem.length}})</span>
            <span class="col text-right"><h5 class="buy-text">Tick if <br>available</h5></span>
        </div>
        <ion-scroll style="max-height: 280px;">
            <ion-list>
                <!--<ion-item class="row" ng-repeat="product in currentOrder.order.orderitem"  style="margin-top: 0px;" ng-class="{'order-enabled':product.available, 'order-disabled':!product.available,'order-blink': $index==currentBlink && $index!==0,'order-blink-constant': $index==!bilnkFirst}">-->
                <ion-item class="row" ng-repeat="product in currentOrder.order.orderitem"  style="margin-top: 0px;" ng-class="{'order-enabled':product.available, 'order-disabled':!product.available,'order-blink': $index==currentBlink}">
                    <div class="col col-20">
                        <img ng-src='http://images.getmeher.com/{{shopCategory}}/{{product.ImgFileName}}' width="64px" height="64px">
                    </div>
                    <div class="col hyphenate" style="margin-top: 12px;white-space: normal;padding-bottom: 10px;
" ng-class="{'hide-text': product.ordernow}" >
                        {{product.name | limitTo:32}}
                <span style="display: block;color: #aaa;font-size: 14px;" ng-if="product.subtitle">
                ({{product.subtitle}})
                </span>
                    </div>

                    <div class="col col-10 text-center" style="margin-top: 10px;">
                        {{product.price | number:0}}
                        <br/>
                        <span style="display: block;color: #aaa;font-size: 14px;">Rs</span>
                    </div>
                    <div class="col  text-center" style="margin-top: 10px;">
                        {{product.quantity}}
                        <br/>
                        <span style="display: block;color: #aaa;font-size: 14px;">{{product.unit || 'QTY'}}</span>
                    </div>


                    <div class="col col-10" style="margin-right: 12px;margin-top: 3px">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="product.available" ng-change="acknowledgeOrder(product)">
                            <!--<input type="checkbox" ng-model="product.available" ng-change="grandTotal = grandTotal + product.price;">-->
                        </label>
                    </div>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <div class="row item item-divider">
            <span class="col" style="color:#aaa; font-size: 12px;"><i>Click on circle above to accept the item</i></span>
            <span class="col text-right">Total: {{grandTotal}} Rs/-</span>
        </div>

        <div class="row" ng-class="{'blinkblue': orderStatus == 'sent'}" ng-hide="orderStatus !== 'sent'" style="margin-top: 1px;">
            <div class="col">
                <button id="verify" ng-click="showAcceptAlert()" class="button button-block icon-right ion-checkmark-round button-balanced">Accept</button>
            </div>
            <div class="col">
                <button ng-click="showAcceptConfirm()"  class="button button-block icon-right ion-close button-assertive">Reject</button>
            </div>
        </div>

        <div class="row" ng-show="orderStatus == 'accepted'" >
            <div class="col text-center">
                <button ng-click="acceptOrder()" class="button button-block icon-right ion-checkmark-round button-balanced">Delivery Sent</button>
            </div>
        </div>

    </ion-content>
</ion-view>
