<ion-view view-title="Login">

<!--<ion-header-bar>-->
    <!--<h1 class="title">Login</h1>-->
    <!--<div class="buttons">-->
      <!--<button class="button button-clear" ng-click="closeContact()">Close</button>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-content>
    <div>
    <div class="row">
      <div class="col text-center">
        <h3>Verify Code</h3>
        <p>Enter 4 digit code SMS sent on {{currentMobile}}</p>
      </div>
    </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Verify OTP</span>
          <input type="tel" placeholder="Enter 4 digit OTP" ng-model="loginData.opt">
        </label>
        <label class="item">
          <div class="row">
            <div class="col">
              <button class="button icon-right ion-checkmark button-block button-balanced" ng-click="verifiedLogin()">Verify</button>
            </div>
          </div>
        </label>
      </div>
      </div>
  </ion-content>
</ion-modal-view>
