<ion-view view-title="Order Status">
  <ion-content>
    <div class="row item item-divider">
      <span class="col text-center">Order Status  </span>
    </div>
    <!-- <div class="row" id="order-header">
       <div class="col text-center">
         <b>Order Status</b>
       </div>
     </div> -->

    <div id="status-icon" class="row">
      <div class="col">
        <ul class="four steps">
          <li class="complete">
            <a href="#0"><i class="ion-ios-compose" style="
    margin-left: 2px;"></i></a>
          </li>
          <li class="complete">
            <a href="#0"><i class="ion-clipboard"></i></a>
            <!--<li class="complete"><a href="#0">2</a>-->
          </li>
          <li>
            <a href="#0"><i class="ion-android-bicycle"></i></a>
          </li>
          <li>
            <a href="#0"><i class="ion-bag"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div id="status-title"class="row">
      <div class="col">Order Sent</div>
      <div class="col">Confirming</div>
      <div class="col">On the way</div>
      <div class="col">Delivered</div>
    </div>

    <div class="list">
      <div class="row item">
        <div class="col">

          <button ng-click="CallTel({{StoreSelected.mobile}})" class="button icon-right button-block ion-ios-telephone button-balanced">Call Store</button>
        </div>
      </div>

      <div class="row item">
        <div class="col">
          <button class="button icon-right button-block ion-arrow-swap ion-ios-cart button-assertive">Shift Cart/ Change Store</button>
        </div>
      </div>

      <div class="row item item-divider">
        <span class="col text-center">Order Status  </span>
      </div>
        <form>
          <div class="list">
          <!--  <label class="item item-toggle">
              <span class="input-label">Order Delivered in Time??</span>
              <label class="toggle toggle-assertive">
                <input type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
              </input>
            </label> -->

            <label class="item-input item-select">
            <span class="input-label">Order Delivered in Time??</span>
            <select>
              <option>Yes</option>
              <option>No</option>
            </select>
          <!--    <button class="button button-balanced">
                Yes
              </button>
              <button class="button button-assertive">
                NO
              </button> -->
            </label>

            <label class="item-input item-select">
              <span class="input-label">Quality of product delivered</span>
              <select>
                <option>Average</option>
                <option>Good</option>
              </select>
            </label>

            <label class="item-input item-select">
              <span class="input-label">Rate Store</span>
              <select>
                <option>Average</option>
                <option>Good</option>
                <option>Good</option>
              </select>
            </label>



            <div class="row item">
              <div class="col text-left">
                <button class="button button-small button-balanced">Call Store</button>
              </div>

              <div class="col text-right">
                <button class="button button-small button-balanced">Shift Cart/ Change Store</button>
              </div>
            </div>

          </div>

        </form>

      </div>

    </div>

  </ion-content>
</ion-view>
