<ion-view view-title="Product showcase">
  <ion-content>

    <div class="row" id="order-header">
      <div class="col text-center">
        <b>{{product.name}}</b>
      </div>
    </div>

    <div id="product-display">
      <ion-slide-box show-pager="true" auto-play="true" does-continue="true">
        <ion-slide ng-repeat="productDisplay in product.imgages" class="text-center">
            <img ng-src='http://images.getmeher.com/{{productCatalog.imagefolder}}/inner/{{productDisplay}}'>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="row">
      <div class="col col-50">
        <span ng-repeat="(key, keyfeature) in product.keyfeature" >
          <li ng-if="key % 2 == 0"> {{keyfeature}}</li>
        </span>
      </div>
      <div class="col col-50">
        <span ng-repeat="(key, keyfeature) in product.keyfeature" >
          <li ng-if="key % 2 != 0"> {{keyfeature}}</li>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <h3>Price: Rs. {{product.price |number:0}}/- </h3>
      </div>
    </div>

    <div class="row">
      <button class="button button-block button-balanced" ng-click="addToCart(product)">Add To Cart</button>
    </div>

  </ion-content>
</ion-view>
