<ion-view view-title="Order">
  <ion-content>
    <p><h3>{{storeId}}</h3></p>
    </br></br>

    <div id="menu-view">
      <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
        <ion-slide  ng-repeat="menuCategories in productCatalog" ion-slide-tab-label="{{menuCategories.name}}">
          <div class="item item-divider">
            {{menuCategories.name}}<span><h5 class="buy-text">Buy</h5></span>
          </div>
          <div id="product-list" class="list">
            <div class="row" ng-repeat="product in menuCategories.products" >

              <!--<div class="item item-icon-left item-icon-right" href="#">-->
              <!--<i class="icon ion-chatbubble-working"></i>-->
              <!--{{product.name}}-->
              <!--<button class="button button-calm">-->
              <!--<i class="icon ion-bag"></i>-->
              <!--</button>-->
              <!--</div>-->
              <!--<li class="item item item-checkbox">-->
              <!--<img ng-src={{product.image}}>-->
              <!--{{product.name}}-->

              <!--<label class="checkbox">-->
              <!--<input type="checkbox">-->
              <!--</label>-->

              <!--</li>-->

              <!--<div class="row item">-->
                <!--<div class="col col-25">-->
                <!--<i class="icon">-->
                <!--<img ng-src={{product.image}}>-->
                <!--</i>-->
                <!--{{product.name}}-->
                  <!--</div>-->

                <!--<div class="col col-50 text-center">-->
                  <!--<span class="ion-android-add-circle"></span>-->
                  <!--<span class="badge badge-assertive">{{product.quantity}}</span>-->


                  <!--&lt;!&ndash;{{product.unit}}&ndash;&gt;-->
                  <!--&lt;!&ndash;{{product.price}} /-Rs&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col col-25 text-right">-->
                  <!--<label class="checkbox">-->
                  <!--<input type="checkbox">-->
                <!--</label></div>-->
              <!--</div>-->


              <!--<div class="row item item-icon-left item-icon-right" href="#">-->
                <!--<i class="icon">-->
                  <!--<img ng-src={{product.image}}>-->
                <!--</i>-->
                <!--<span class="col col-15 col-offset-10">-->
                <!--{{product.name}}-->
                <!--</span>-->
                <!--<span class="item-note col col-50">-->
                  <!--<span id="add-quantity" class="icon ion-plus-circled"></span>-->
                  <!--<span class="badge badge-assertive">{{product.quantity}}</span>-->
                  <!--<span id="remove-quantity" class="ion-minus-circled"></span>-->
                  <!--&lt;!&ndash;<i class="icon ion-android-add-circle"></i>&ndash;&gt;-->
                <!--</span>-->
                <!--<i class="icon">-->
                  <!--<label class="checkbox">-->
                    <!--<input type="checkbox">-->
                  <!--</label>-->
                <!--</i>-->
              <!--</div>-->

              <div class="col col-10">
                <img ng-src={{product.image}}>
              </div>
              <div class="col col-25" style="margin-top: 10px;">
                {{product.name}}
              </div>

              <div class="col col-15 text-center" style="margin-top: 10px;">
                {{product.price}}
                <br/>
                <span class="item-note">
                  Rs
                </span>
              </div>
              <div class="col col-40 text-center">
                <span ng-show="ordernow">
                <span id="add-quantity" class="icon positive ion-ios-plus-outline"></span>
                {{product.quantity}}
                <span id="remove-quantity" class="icon positive ion-ios-minus-outline"></span>
                <br/>
                <span class="item-note">
                  {{product.unit}}
                </span>
                <span>
              </div>
              <div class="col col-10">
                <label class="checkbox">
                <input type="checkbox" ng-model="ordernow" ng-change="addToCart(product,ordernow)">
                </label>
              </div>



            </div>
          </div>
        </ion-slide>

      </ion-slide-box>
    </div>

  </ion-content>
</ion-view>
