<ion-view>
  <ion-nav-title>
    <div class="row header-locationbar">
      <div id="location-logo" class="col col-10">
        <i class="ion-location"></i>
      </div>
      <div class="col">
        <ion-google-place placeholder="Detecting Location..." ng-model="location"/>
      </div>
    </div>
  </ion-nav-title>
  <div class="bar bar-subheader">
       <label id="bar-search" class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query">
      </label>
  </div>

  <ion-content class="has-subheader">
    <div class="row" id="order-header" ng-show="storeMsg">
      <div class="col text-center">
        <b>{{storeMsg}}</b>
      </div>
    </div>

    <ion-list ng-show="!storeMsg">
      <ion-item  class="item item-thumbnail-left" collection-repeat="store in storeList | filter:query | orderBy: 'distance' " ng-click="goToStore(storelistId,store,distanceTo(store))">

        <img ng-src={{categoryImage}}>
        <h2>{{store.name}}</h2>
        <p>{{store.address}}</p>
        <span class="distance_from_user_rest"> Distance: {{distanceTo(store)}} Km</span>
</ion-item>
      </ion-list>

    <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%" ng-if="!storeMsg && storeList.length > 1">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
