<ion-view view-title="Store's Page">
  <ion-content>
    <div class="list" style="margin-bottom:0px">
      <div class="item item-button-right">
        <!--<i class="icon ion-ios-cart-outline"></i>-->
        <h3><b>{{storeId}}</b></h3>
        <button class="button button-balanced" ng-click="CallTel({{StoreSelected.mobile}})">
          <i class="icon ion-ios-telephone"></i>
        </button>
      </div>

    </div>


    <div class="row">
      <div class="col">
        <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
          {{StoreSelected.address}}</p>
        <div style="color: #AAAAAA;">
            <span>
              <i class="ion-android-bicycle" style="font-size: 22px;"></i>
            {{StoreDistance}} KM Away.
            </span>
              <span style="float: right;" >
              Delivers in:
              <i class="ion-clock" style="font-size: 20px;"></i>
              30 Mins.
            </span>
        </div>
      </div>
    </div>

    <!--</br></br>-->
    <div class="text-center">
      <h5><span>Type products Below </span><span ng-if="storeCategory.type=='general'">or Select From Menu</span></h5>
    </div>
    <div id="customize-order">
      <div class="bar bar-header item-input-inset addcustom">
        <div class="col-50">
          <label class="item-input-wrapper reverse-wrapper">
            <i class="icon ion-compose"></i>
            <input class="google-place-search ng-pristine ng-valid ng-touched" type="text" ng-model="customProduct.name" placeholder="Item Name">
          </label>
        </div>
        <div class="col">
          <label class="item-input-wrapper reverse-wrapper">
            <i class="icon ion-funnel"></i>
            <input class="google-place-search ng-pristine ng-valid ng-touched" type="text" ng-model="customProduct.customQuantity" placeholder="Qty(1 KG)">
          </label>
        </div>
        <button class="button button-positive" ng-click="addcustomProduct(customProduct)">Add</button>
      </div>
    </div>

    <!--<div id="custom-order" class="row list">-->
    <!--<div class="col col-50">-->
    <!--<label class="item item-input">-->
    <!--<input type="text" ng-model="customProduct.name" placeholder="Item Name">-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="col col-30">-->
    <!--<label class="item item-input">-->
    <!--<input type="text" class="cust-qty" ng-model="customProduct.customQuantity" placeholder="Qty(1 KG)">-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="col col-20 text-right">-->
    <!--<button class="button button-positive" ng-click="addcustomProduct(customProduct)">Add-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->


    <div id="menu-view" ng-if="storeCategory.type=='general'">
      <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
        <ion-slide  ng-repeat="(key, menuCategories) in productCatalog" ion-slide-tab-label="{{menuCategories.title}}">
          <div class="row item item-divider">
            <span class="col">{{menuCategories.title}}</span>
            <span class="col text-center price-text">*Price are estimation</span>
            <span class="col text-right"><h5 class="buy-text">Buy</h5></span>
          </div>
          <ion-scroll style="height: 280px;">
            <ion-list>
              <ion-item class="row" ng-repeat="product in menuCategories.products" style="margin-bottom: -12px;">
                <div class="col col-20">
                  <img ng-src='http://images.getmeher.com/{{menuCategories.imagefolder}}/{{product.ImgFileName}}' width="64px" height="64px">
                </div>
                <div class="col hyphenate" style="margin-top: 12px;white-space: normal;padding-bottom: 10px;
" ng-class="{'hide-text': ordernow}" >
                  {{product.name | limitTo:32}}
                <span style="display: block;color: #aaa;font-size: 14px;" ng-if="product.subtitle">
                ({{product.subtitle}})
                </span>
                </div>

                <div class="col col-10 text-center" style="margin-top: 10px;">
                  {{product.price | number:0}}
                  <br/>
                  <span style="display: block;color: #aaa;font-size: 14px;">Rs</span>
                </div>

                <div class="col text-center" style="margin-top: 3px">
                <span ng-show="ordernow">
                <a class="button button-icon icon positive ion-ios-minus-outline" ng-click="decreaseQuantity(product)" style="padding-right: 2px!important;"></a>
                {{product.quantity}}
                <a class="button button-icon icon positive ion-ios-plus-outline" ng-click="increaseQuantity(product)" style="padding-right: 2px!important;"></a>
                <span style="display: block;color: #aaa;font-size: 14px; text-align: center; margin-top: -12px">
                {{product.unit}}
                </span>
                </span>
                </div>
                <div class="col col-10" style="margin-right: 12px;margin-top: 3px">
                  <label class="checkbox">
                    <input type="checkbox" ng-init="ordernow" ng-model="ordernow" ng-change="addToCart(product,ordernow,$index)">
                  </label>
                </div>
              </ion-item>
            </ion-list>
            <ion-infinite-scroll div id="{{key}}" ng-if ="scrollCheck(key)"
                                 on-infinite="loadMoreProducts()"
                                 distance="1%">
            </ion-infinite-scroll>
          </ion-scroll>

        </ion-slide>

      </ion-slide-box>
    </div>



    <div id="menu-view" ng-if="storeCategory.type=='electronics'">
      <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
        <ion-slide  ng-repeat="(key, menuCategories) in productCatalog" ion-slide-tab-label="{{menuCategories.title}}">
          <div class="row item item-divider">
            <span class="col">{{menuCategories.title}}</span>
            <span class="col text-right"><h5 class="buy-text">Buy</h5></span>
          </div>
          <ion-scroll style="height: 280px;">
            <ion-list>
                <ion-item class="row" ng-repeat="product in menuCategories.products" style="margin-bottom: -12px;" ng-click="showProduct(storelistId,storeId,menuCategories.deeplink,product.link)">
                <div class="col col-20">
                  <img ng-src='http://images.getmeher.com/{{menuCategories.imagefolder}}/{{product.image}}' width="64px" height="64px">
                </div>
                <div class="col hyphenate" style="margin-top: 12px;white-space: normal;padding-bottom: 10px;
" ng-class="{'hide-text': ordernow}" >
                  {{product.name }}
                <span style="display: block;color: #aaa;font-size: 14px;">
                  Rs. {{product.price | number:0}} /-
                </span>
                </div>

                <!--<div class="col col-10 text-center" style="margin-top: 10px;">-->
                  <!--{{product.price}}-->
                  <!--<br/>-->
                  <!--<span style="display: block;color: #aaa;font-size: 14px;">Rs</span>-->
                <!--</div>-->


                <!--<div class="col text-center" style="margin-top: 3px">-->
                <!--<span ng-show="ordernow">-->
                <!--<a class="button button-icon icon positive ion-ios-minus-outline" ng-click="decreaseQuantity(product)" style="padding-right: 2px!important;"></a>-->
                <!--{{product.quantity}}-->
                <!--<a class="button button-icon icon positive ion-ios-plus-outline" ng-click="increaseQuantity(product)" style="padding-right: 2px!important;"></a>-->
                <!--<span style="display: block;color: #aaa;font-size: 14px; text-align: center; margin-top: -12px">-->
                <!--{{product.unit}}-->
                <!--</span>-->
                <!--</span>-->
                <!--</div>-->


              </ion-item>
            </ion-list>
            <ion-infinite-scroll div id="{{key}}" ng-if ="scrollCheck(key)"
                                 on-infinite="loadMoreProducts()"
                                 distance="1%">
            </ion-infinite-scroll>
          </ion-scroll>

        </ion-slide>

      </ion-slide-box>
    </div>




  </ion-content>
</ion-view>
