/* Empty. Add your own CSS if you like */
.pac-container{
    width: 100% !important;
    left: 0px !important;
}

.pac-item{
    line-height: 40px !important;
}

.pac-icon{
    margin-top: 10px !important;
}

.cartorder{
    height: 50%;
    overflow: auto;
}

#product-list .row{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    margin: -1px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

#product-list .icon{
    font-size: 30px;
}

#product-list .item-note{
    float:none;
}

#product-display .slider {
    height: 250px; /* slider height you want */
}

#product-display .slider-slide {
    color: #000;
    background-color: #fff;
    height: 100%;
}


.hyphenate {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


.hide-text{
    overflow: hidden;
}

.buy-text{
    float: right;
    color: #aaa;
    font-size: 10px;
}
.price-text{
    font-size: 12px;
    white-space: nowrap;
}
#order-itemList .item-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
    }

#add-quantity, #remove-quantity{
    cursor: pointer;
}

.price{
position: relative !important;
    float: left;
    top: -5px !important;

}

#order-header {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5 !important;
    color: #222;
    font-weight: 500;
}
.back-text{
    visibility: hidden;
}

.header-locationbar{
    padding: 0px;
}
.header-locationbar #location-logo{
    margin-top: -1%;
}
.header-locationbar .ion-location{
    font-size: 22px;
}

.cart-order-list{
    height: 170px;
}

.bar-subheader {
    height: 51px;
}
#bar-search {
    border-width: 0px;
}

.ion-google-place::-webkit-input-placeholder {
    color: #ffffff;
}

.ion-google-place:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.ion-google-place::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

.ion-google-place:-ms-input-placeholder {
    color: #ffffff;
}

.backdrop.active{
    z-index: 11;
}
/*#address-bar{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
/*}*/

.shit-top{
    margin-top: 10px;
}
#customize-order{
    padding-bottom: 8px;
    padding-top: 2px;
    min-height: 30px;
    background-color: #f5f5f5 !important;
    color: #222;
    font-weight: 500;
}

.addcustom{
background-color: transparent;
    background-image: none !important;
}
.reverse-wrapper{
    background-color: #ffffff;
}

#custom-order{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    margin: -1px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

#custom-order input.cust-qty[placeholder] {
    font-size: 12px;
}



.steps {
    background-color: #fff;
    border-color: #cad5df;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 1px 2px rgba(213, 222, 229, 0.5) inset;
    display: block;
    height: 8px;
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;
    margin-left: 10%;
    width: 80%;

}

.steps > li {
    float: left;
    margin: 0;
    min-height: 1px;
    padding: 0;
    position: relative;
}

.two.steps > li {
    width: 100%;
}

.three.steps > li {
    width: 50%;
}

.four.steps > li {
    width: 33.33333%;
}

.five.steps > li {
    width: 25%;
}

.six.steps > li {
    width: 20%;
}

.seven.steps > li {
    width: 16.66667%;
}

.eight.steps > li {
    width: 14.28571%;
}

.nine.steps > li {
    width: 12.5%;
}

.ten.steps > li {
    width: 11.11111%;
}

.steps > li:first-child {
    width: 0;
}

.steps > li > a {
    background-color: #fff;
    border: 1px solid #cad5df;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(213, 222, 229, 0.5) inset;
    color: #b2b9bf;
    display: block;
    font-size: 25px;
    font-weight: bold;
    height: 35px;
    right: -10px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 35px;
}

.steps > li > a:hover {
    background-color: #eee;
    background-image: linear, to bottom, #eeeeee, #dddddd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    color: #777b80;
}

.steps > li > a:before,
.steps > li > a:after {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(213, 222, 229, 0.5) inset;
    content: "";
    display: block;
    height: 6px;
    height: 8px;
    position: absolute;
    top: 7px;
    top: 10px;
    width: 4px;
}

.steps > li > a:before {
    left: -2px;
}

.steps > li > a:after {
    right: -2px;
}

.steps > li > a:hover:before {
    left: -5px;
}

.steps > li > a:hover:after {
    right: -5px;
}

.steps > li:first-child > a:before {
    display: none;
}

.steps > li:last-child > a:after {
    display: none;
}

.steps > .complete > a,
.steps > .complete > a:hover {
    background-color: #339aff;
    background-image: linear, to bottom, #339aff, #2894ff;
    border-color: #1a80e5;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    color: #fff;
}

.steps > .complete > a:before,
.steps > .complete > a:after {
    display: none;
}

.steps > .complete + .complete:before {
    background-color: #339aff;
    background-image: linear, to bottom, #339aff, #2894ff;
    border-color: #1a80e5;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
    content: "";
    height: 8px;
    position: absolute;
    left: 8px;
    top: -1px;
    width: calc(100% - 26px);
    z-index: 2;
}

#status-title{
    margin-top: -20px;
}

#status-icon {
    margin-top: 20px;
}